.dashboard{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    padding-top: 100px;
    /* min-height: calc(100vh - 373px); */
    align-items: center;
    /* background-color: black; */
    background-image: linear-gradient(
        rgba(12, 12, 12, 0.69),
        rgba(6, 6, 6, 0.705)
      ),
      url("../../assets/Herossssss.png");
      /* background-color: white;
      background-blend-mode: multiply; */
}