.section {
    padding: 40px 80px 10px 80px;
    background-color: #FFB524;
  }


  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  footer .logo{
    margin-bottom: 30px;
  }
  
  footer h4{
    font-size: 1rem;
    padding-bottom: 20px;
  }
  
  footer p{
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0 0 8px 0;
  }
  
  footer a{
    font-size: 0.8rem;
    color: black;
    font-weight: 600;
    text-decoration: none;
    color: #222;
  
    margin-bottom: 10px;
  }
  
  footer .follow{
    margin-top: 20px; 
  }
  
  footer .follow i{
    color: #1a201d;  
    padding-right: 1rem;
    cursor: pointer;
  }
  
  footer .install .row img{
    border: 1px solid #088178;
    border-radius: 6px;
  }
  
  footer .install img{
    margin: 10px 5px 15px 0;
  }
  
  footer .follow i:hover, footer a:hover{
    color: #088178;
  }
  
  footer .copyright{
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  
  
  
/* Media Query */
@media (max-width: 799px){
  
    .section {
      padding: 40px 40px;
    }
    
}



@media (max-width: 477px){
  footer .copyright {
    text-align: start;
  }
  .section {
    padding: 0 20px;
}
}  