.topItems {
    display: flex;
    justify-content:space-between;
    background-color: rgb(225, 234, 228);
    padding: 20px 30px;
    height: 9vh;
    position: fixed;
    width: 95.3%;
}

.navLinks ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    cursor: pointer;
}

.navLinks a {
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.navLinks ul a:hover {
    color: rgb(86, 190, 86);
}

.signUp button {
    padding: 5px;
    background-color: white;
    color: rgb(2, 65, 2);
    border-radius: 45px;
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 12px;
}

button:hover {
    background-color: rgb(235, 226, 226);
}

.appLogo {
    margin-top: -30px;
    margin-left: 30px;
    width: 110px;
}